
body { margin:0; padding:0; }


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.wrapper {
    max-width: 10000px;
    width: 100%;
    margin: 0 auto; }

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */ }

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }

.cf:after {
    clear: both; }

.cf {
    *zoom: 1; }

hr {
    border: none;
    border-bottom: 3px solid #f7f7f7;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;


    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;

}

/* Custom Styles */
html, body {
    width: 100%;
    height: 100%;
}
body { font: normal 1em/1.5em 'Open Sans', sans-serif; color: #333; margin-bottom: 20px;     text-align: left;
}

a { color: #333; text-decoration: none; }
a:hover { color: #b2c3e8; }

h1 { font: bold 2.5vw 'Oswald', sans-serif; }

h4 { font: bold 1vw 'Oswald', sans-serif;
    color: white;
    text-shadow: 0 2px 10px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;text-align: left;}





header {
    margin: 0 0 20px 0;
    padding: 20px;
}

header h1 {
    float: left;
}

header nav { float: right; }
header nav ul li {display: inline-block; margin: 10px 0 0 0;}
header nav ul li a { display: block; padding: 10px; border: 1px solid #fff;}
header nav ul li a:hover, header nav ul li a.active { background: #f7f7f7; color: #b2c3e8; border: 1px solid #eee;}
#main-content { padding: 0 30px; }
footer {
    border: 1px solid #eee;
    background: #f7f7f7;
    margin-top: 20px;
    padding: 30px;
}

.splash {
    background: url('../img/splash-bg.jpg') center center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.splash-title {
    color: white;
    font-size: 3em;
    margin-top: 100px;
    text-shadow: 0 2px 10px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

a.splash-arrow {
    color: white;
    font-size: 1.2em;
    position: absolute;
    bottom: 55px;
    left: 50%;
    margin-left: -25px;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
    border: 3px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

a.splash-arrow:hover {
    text-decoration: none;
    bottom: 50px;
}

@media all and (max-width: 690px) {
    header h1 { width: 100%; text-align: center; }
    header nav { float: none; display: inline-block; margin: 0 auto; }
    .splash-title {font-size: 2em;}
}

@media all and (max-width: 480px) {
    .splash-title {font-size: 1.5em;}
}

.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type=checkbox] {
    display: none;
}

.filter-group input[type=checkbox] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
    background-color: #3386c0;
    text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
    background-color: #4ea0da;
}

.filter-group input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}


#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
#map{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#sidebar {
    position: absolute;
    top: 40%;
    left: 15px;
    bottom: 15px;
    width: 25%;
    float: right;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
}

#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}